/* --- Katarsis Palette --- */
@define-color base           #050a15; 
@define-color mantle         #0b1222; 
@define-color crust          #02050a; 

@define-color tactical_blue  #1e3a8a; 
@define-color electric_blue  #0ea5e9; 
@define-color soft_white     #e2e8f0; 
@define-color dimmed_blue    #334155; 
@define-color alert_red      #ef4444; 

* {
    font-family: "Roboto Nerd Font";
    font-weight: bolder;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

/* --- GROUP CONTAINERS --- */
.modules-left, .modules-center, .modules-right {
    background-color: @mantle;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid @tactical_blue;
    box-shadow: 0 0 10px rgba(30, 58, 138, 0.2);
}

.modules-left {
    margin-left: 10px;
    padding: 5px 12px;
}

.modules-center {
    padding: 5px 15px 5px 12px;
}

.modules-right {
    margin-right: 10px;
    padding: 5px 10px;
}

/* --- WORKSPACES --- */
#workspaces button {
    padding: 0 4px;
    color: @dimmed_blue;
    transition: all 0.3s ease;
    border: none;
    box-shadow: none;
    background: transparent;
}

#workspaces button.active {
    color: @electric_blue;
    text-shadow: 0 0 8px @electric_blue;
}

#workspaces button.urgent {
    color: @alert_red;
}

#workspaces button:hover {
    color: @soft_white;
}

#workspaces button.empty {
    color: #44475a;
}

/* --- LEFT & CENTER MODULES --- */
#custom-arch {
    font-size: 18px;
    color: #1793d1;
    margin-right: 10px;
}

#custom-media {
    color: @soft_white;
    margin-left: 10px;
}

#clock, #custom-date {
    color: @soft_white;
}

#clock {
    margin-top: 2px;
}     

#custom-date {
    font-weight: bold;
    margin-left: 6px;
}

/* --- RIGHT MODULES: SPACING --- */
#bluetooth,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio.microphone,
#network,
#battery,
#custom-language,
#custom-power {
    margin: 0 8px;
    padding: 0;
}

.modules-right > widget:first-child > #bluetooth {
    margin-left: 5px;
}

.modules-right > widget:last-child > #custom-power {
    margin-right: 5px;
}

/* --- MODULE COLORS --- */
#pulseaudio, 
#pulseaudio.microphone, 
#battery {
    color: @electric_blue;
}

#battery.warning:not(.charging) {
    color: @alert_red;
}

#custom-power {
    color: @alert_red;
    font-size: 16px;
}

#bluetooth {
    color: @soft_white;
    font-size: 16px;
}

#custom-language {
    color: @soft_white;
}

/* Global button cleanup */
button {
    border: none;
    box-shadow: none;
    text-shadow: none;
}
